/*I rewrote the header's styling using Grid.
*
* It is so satisfying to use consistent tools.*/
* {
    font-family: "Poppins";
}

html {
    font-size: 10px;
}

header {
    width: 80vw;
    margin: 10px auto;
    border-bottom: 1px blue solid;
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 2px 1fr;
}


.logo {
    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
}

.search {
    grid-row: 1;
    grid-column: 2;
    display: flex;

    width: 50%;
    margin: auto;
    border: 1px solid #0078A5;
    border-radius: 25px;
    padding-left: 10px;
}

.search>input {
    flex: 1;
    margin: 0.5vw;
    border: none;
    outline: none;
    font-size: 0.8vw;
}

.search>input:focus {
    border: none;
    outline: none;
}

.search>button {
    width: 2vw;
    margin-right: 0.2vw;
    border: none;
    outline: none;
    background-color: transparent;
}

.search img {
    width: 0.8vw;
}

/* header::after { */
/*     content: ''; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 80vw; */
/* } */

.icons {
    grid-row: 1;
    grid-column: 3;
    margin: 10px;
    max-height: 20px;
}

.icons svg {
    max-width: 25%;
    margin: 0 2px;
}

.line {
    background-color: black;
    width: 100%;
    height: 2px;
}


/*Menu*/

menu {
    grid-row: 3;
    grid-column: 2;
    width: 60%;
    margin: 1vw auto;
    padding-bottom: 10px;
    font-size: 1w;
}

menu ul {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto 0 auto;
    padding-left: 0;
}

menu ul li {
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0 0.5vw;
    border-bottom: 2px solid transparent;
}

menu ul li:hover {
    border-bottom: 2px solid #0078A5;
}

menu ul ul {
    display: none;
    position: absolute;
    top: 22px;
}

menu ul li:hover>ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20vw;
    background-color: #ffff;
}

menu ul ul li {
    width: 100px;
    display: flex;
    flex-direction: column;
    float: none;
    position: relative;
}

.root-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.panel-gallery {
    display: flex;
    overflow: scroll;
}

.panel {
    width: 100%;
    height: auto;
    position: relative;
}

.panel>img {
    width: 100%;
}

.panel-info {
    width: 25em;
    position: absolute;
    top: 25%;
    margin: 10px;
    padding: 10px;
    color: white;
}

.panel-info button {
    background-color: rgb(100, 100, 100, 50);
    width: 25%;
    border-radius: 28%;
    color: white;
}

.imageGallery {
    display: flex;
    flex-direction: row;
    /*display: grid;
    grid-template-rows: auto 1fr;*/
    gap: 10px;
}

.imageGallery>img {
    /*grid-row: 2;*/
    width: 100%;
    height: auto;
    border-radius: 2%;
}


.gallery {
    display: flex;
    overflow: scroll;
    overscroll-behavior: contain;
}

.galleryCell {
    display: flex;
    flex-direction: column;
    /*display: grid;
    grid-template-rows: 60% auto;*/
    height: auto;
    width: 12.5em;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px solid aqua;

}

.galleryCell>img {
    border-radius: 2%;
}

.galleryCell .price {
    color: rgb(213, 112, 4);
    font-size: 1.5em;
}

.galleryCell .name {}

.galleryCell .desc {}

#partnerships>img {
    width: 10%;
}

#salespitch>img {
    width: 40%;
    float: right;
}



footer {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto;
    background-color: #0078a6;
    color: aliceblue;
}

.footer-nav-container {
    grid-column: 2 / 3;
}

.footer-nav {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer-nav-col {
    margin: 20px;
    padding: 20px;
    list-style: none;
}

.footer-nav-col>p {
    line-height: 1em;
}

.cr {
    text-align: center;
    font-size: small;
    font-family: monospace;
    font-weight: 200;
}


/*
*   When the screen's width is less than 161% of the footer's, change the font size? Or perhaps
*   a media query isn't the best solution!
*
*   Grid
*
*   footer inside of 2nd column, with it having 60% of the width.
*
* */
