/* external css: flickity.css*/
* {
    box-sizing: content-box;
}

body {

}

header {
    display: flex;
}

nav {
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
}
/* search bar */
.search {
    position: relative;
    display: flex;
    left: 30%;
    border: 1px #0078a6 solid;
    border-radius: 5px 0 0 5px;
}

/* Navigation menu */

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 20px;
}

nav ul li:hover > ul {
    display: inherit;
    position: absolute;
    left: -40px;
}

nav ul ul li {
	width: 100px;
	float: none;
	position: relative;
}



.logo {
    width: 100px;
    left: 0;
    position: relative;
}

.panel {

}

.conseils {
    position: relative;
    overflow: hidden;
}

.conseils img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity is ease-in-out;
}

div > img {
    border-radius: 2%;
    margin: 0.2em;
}
.products img {
    display: inline-flex;
}

.newsletter {
    display: inline-flex;
}


footer {
    background-color: #0078a6;
    width: 100%;
    color: white;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    text-align: left;

    & div {
        margin-right: 20px;
        margin-left: 20px;
    }

    & li {
        list-style: none;
        padding: 0px;
        margin-bottom: 0.5emu;
    }
}


.footer-nav-col1 {
    display: inline-flex;
    flex-direction: column;
}

.footer-nav-col1 p {
    line-height: 3px;
}

.footer-nav-col2 {
    display: inline-flex;
    flex-direction: column;
}

.footer-nav-col3 {
    display: inline-flex;
    flex-direction: column;
}

.footer-nav-col4 {
    display: inline-flex;
    flex-direction: column;
}