/*I rewrote the header's styling using Grid.
*
* It is so satisfying to use consistent tools.*/
* {
  font-family: "Poppins";
}

html {
  font-size: 10px;
}

header {
  /* width: 80vw; */
  /* margin: 10px auto; */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

/* was using this for the header. Should try re-doing it in grid later on. */
/* .grid-container { */
/*   display: grid; */
/*   grid-template-columns: 10% 1fr 10%; */
/*   grid-template-rows: repeat(3, 1fr); */
/* } */

.frow,
.srow {
  width: 80vw;
  margin: 10px auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 10%;
}

.search {
  display: flex;
  width: 40%;
  margin: auto;
  border: 1px solid #0078A5;
  border-radius: 25px;
  padding-left: 10px;
}

.search>input {
  flex: 1;
  margin: 0.5vw;
  border: none;
  outline: none;
  font-size: 1vw;
}

.search>input:focus {
  border: none;
  outline: none;
}

.search>button {
  width: 2vw;
  margin-right: 0.2vw;
  border: none;
  outline: none;
  background-color: transparent;
}

.search img {
  height: 1vw;
  width: 1vw;
}


.icons {
  min-width: calc((1.5vw * 3) + (6 * 0.5vw));
  /* I used max-width, and was wondering the icons kept their vertical display lol*/
}

.icons svg {
  max-width: 1.5vw;
  min-width: 1vw;
  margin: 0 5px;
}

.line {
  width: 80vw;
  margin: 0 auto;
}

/*Menu*/

menu {
  width: 60%;
  margin: 1vw auto;
  padding-bottom: 10px;
  font-size: 0.8vw;
}

menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  justify-content: space-around;
  text-transform: uppercase;
}

menu ul li {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 0 0.5vw;
  border-bottom: 2px solid transparent;
}

menu ul li:hover {
  border-bottom: 2px solid #0078A5;
}

menu ul ul {
  display: none;
  position: absolute;
  top: 20px;
}

menu ul li:hover>ul {
  display: flex;
  flex-direction: column;
  position: absolute;
}

menu ul ul li {
  width: 100px;
  display: flex;
  flex-direction: column;
  float: none;
  position: relative;
}

/* Start of content section */

.root-container {
  width: 85%;
  margin: 0 auto;
}

/* Gallery */

.gallery-view {
  position: relative;
}

.panel-gallery {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior: contain;
}

.panel {
  flex: 0 0 100%;
  height: auto;
  position: relative;
}

.panel img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 50%;
  /* Importing right style of SVGs is better than doing this? Either the svgs are made by browser, which means my additional styling adds... Man, who gives a shit? It's not important now!*/
  background-color: #0078A5;
  color: white;
  border-radius: 50%;
}

.next-btn {
  right: 0;
  transform: translateX(-50%);
}

.prev-btn {
  left: 0;
  transform: translateX(50%);
}

.prev-btn-icon,
.next-btn-icon {
  width: 2vw;
}

.panel-info {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  margin: 0 1vw;
  padding: 0 1vw;
  color: white;
  font-size: 1.5rem;

}

.panel-info h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.panel-info p {
  width: 30rem;
  height: 12rem;
  overflow: hidden;
}

.panel-info button {
  width: calc(25rem * 0.6);
  height: 5rem;
  border-radius: 28px;
  background-color: transparent;
  color: white;
}

.gallery-index {
  width: 64px;
  position: absolute;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;

  display: flex;
  justify-content: space-between;
  gap: 5px;

  border-radius: 10px;
}

.circle {
  flex: 0 0 12px;
  height: 12px;
  border-radius: 50%;
}

.current {
  background-color: #0078A5;
}

#products h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  overscroll-behavior: contain;
  gap: 2%;
}

.galleryCell {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid aqua;

}

.galleryCell>img {
  border-radius: 2%;
}

.price,
.title {
  color: rgb(213, 112, 4);
  font-size: 1.5em;
}

.galleryCell .name {}

.galleryCell .desc {}

.imageGallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.imageGallery>img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

#partnerships>img {
  width: 10%;
}

#salespitch>img {
  width: 40%;
  float: right;
}



footer {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto;
  background-color: #0078a6;
  color: aliceblue;
}

.footer-nav-container {
  grid-column: 2 / 3;
}

.footer-nav {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.footer-nav-col {
  margin: 20px;
  padding: 20px;
  list-style: none;
}

.footer-nav-col>p {
  line-height: 1em;
}

.cr {
  text-align: center;
  font-size: small;
  font-family: monospace;
  font-weight: 200;
}


/*
*   When the screen's width is less than 161% of the footer's, change the font size? Or perhaps
*   a media query isn't the best solution!
*
*   Grid
*
*   footer inside of 2nd column, with it having 60% of the width.
*
* */
