.root {
    width: 80%;
    transform: translate(10%);
}

.panel {
    width: 100%;
}

.imageGallery {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px 5px;
    
}

.imageGallery > img {
    grid-row: 2;
    width: 98%;
    height: auto;
    border-radius: 2%;
}

#salespitch > img {
    width: 40%;
    float: right;
}



footer {
    background-color: #0078a6;
    color: aliceblue;
}

.footer-nav {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cr {
    text-align: center;
    font-size: small;
    font-family: monospace;
    font-weight: 200;
}